.gradle/
/local.properties
.idea/
.DS_Store
build/
/captures
/BabytreeTime-android.iml
app.iml
library.iml
*.apk
*.log
*.iml
.gradle-build/
AliyunVideoSdk.iml
record_demo.iml
AliyunView.iml
crop_demo.iml
downloadermanager.iml
/AliyunRecorder/record_demo/record_demo.iml
/AliyunEditor/editor_demo/editor_demo.iml
/AliyunCrop/crop_demo/crop_demo.iml
/.gradle-build/
/node_modules